/*universal styles*/

html {
    font-family: Alegreya;
    font-size: 16px;
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
}

body {
    line-height: 1.4
}

.container {
 padding: 0 2rem;
    
}

.section-container {   
    width: 60%; 
    margin-right: 2rem
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;  
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: bold;
    margin: 1rem 0;

}

h2 {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;    
}


a:visited {
    color: darkblue;
}



/*header */

header {
     font-family: 'work sans';
}

header .container {
   
   height: 4rem;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    
}

nav li {
    display: inline;
    margin-left: 1rem;
}

nav li:hover {
    
}

#academy {
    color: grey;
    font-weight: bold;
}

#colmar {
    font-weight: bold;
}

/* banner */

.banner {
    background-color: lightgrey;  
}

.banner-section {
    display: flex;
}

.banner-img img {
    width: 100%;
    margin: 2rem 0;  
}

.banner-div {
    display: flex;
    align-items: center;
    width: 40%;
   
}

.banner-text {
    display:flex;
    flex-direction: column;
    width: 60%;
    font-size: 22px;
    font-weight: 500
}

.banner-btn {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: grey;
    opacity: 0.5;
    transition: opacity 400ms ease-out 100ms;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  
}

.banner-btn:hover {
    opacity: 1; 
}

.banner-btn:active {
   box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.banner-btn span  {
    color: white;
     font-family: 'work sans';
    font-weight: 300;
}

/* Main section */


.main-section {
    display: flex;
    margin: 2rem 0;
}

.main img {
    width: 100%;
}

.main span {
    display: block;
    padding-top: 2rem;
}

.side-articles {
    width: 40%;

}

.side-article {
    display: flex;
    padding: 1rem;
    
}

.guest {
    background-color: lightgray;
}

.orientation {
    padding-top: 0;
}


.side-article img {
   width: 100%;         
}


.article-img {
    width: 35%;
    height: auto;
    overflow: hidden;
    min-width: 7rem;
}


.article-text {
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    width: 60%
}

.article-text a {
    color: blue;
}



.links {
    padding-top: 1rem;
}



/* Start learning */

.learning-title {
    text-align: center;  
    padding-top: 1rem;
}

.start-learning {
    background-color: lightgray;
    
}

.course-container {
    margin: 0 3rem 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    margin: 1rem; 
    padding-bottom: 0.5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'work sans';

}

.course img {
   width: 100%;   
}

.course-type {
    display: block;
    margin: 0.5rem 0;
    font-family: 'work sans';
}

.course-text {
    padding: 1rem;
    background-color: white;
    height: 50%;
}

/* Thesis Exhibit */


video {
    width: 100%;
}

.fisma {
    padding-top: 0;
}