/*universal styles*/

html {
    font-family: 'Alegreya', serif;
    font-size: 16px;
    color: rgb(43, 47, 60)
}

@media only screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }
}

body {
    line-height: 1.4
}

.container {
 padding: 0 2rem;
    
}

.section-container {   
    width: 60%; 
    margin-right: 2rem
}

@media only screen and (max-width: 760px) {
    
 .container {
    padding: 0 1rem; 
}
    
.section-container {
       
    width: 100%; 
    margin-right: 0;
}
  
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;  
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: bold;
    margin: 1rem 0;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    padding: 1rem 0;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;    
}


a:visited {
    color: darkblue;
}

/*header */

header {
    font-family: 'work sans';
    width: 100%;
}

header .container {
   height: 4rem;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    display: inline;
    margin-left: 1rem;
    font-weight: 600;
}

nav li:hover {
  padding-bottom: 15px;
  border-bottom: 4px solid rgb(43, 47, 60);
  
}

#academy {
    color: grey;
    font-weight: bold;
}

#colmar {
    font-weight: bold;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
header .desktop {
    display: none;
  }
    
nav li:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(43, 47, 60);
  
}
    
.logo {
    display: none;    
}

header .mobile {
    display: flex;
    width: 100%;
    justify-content: center;
}
    
 header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
    
header .mobile li {
    margin: 0;
  }
    
}

/* banner */

.banner {
    background-color: lightgrey;  
}

.banner-section {
    display: flex;
}

.banner-img img {
    width: 100%;
    margin: 2rem 0;  
}

.banner-div {
    display: flex;
    align-items: center;
    width: 40%;
   
}

.banner-text {
    display:flex;
    flex-direction: column;
    width: 80%;
    font-size: 22px;
    font-weight: 500
}

.banner-btn {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: rgb(43, 47, 60);
    opacity: 0.7;
    transition: opacity 400ms ease-out 100ms;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
}

.banner-btn:hover {
    opacity: 1; 
}

.banner-btn:active {
   box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.banner-btn span  {
    color: white;
    font-family: 'work sans';
    font-weight: 300;
}

@media only screen and (max-width: 760px) {
    
    .banner {
       padding-bottom: 1rem; 
    }
    
    .banner-section {
        flex-direction: column;
} 
    
    .banner-text {
    font-size: 18px;
}
    
    .banner-img img {
        width: 100%;
        margin: 0;  
}
    
    .banner-div {
        display: flex;
        align-items: center;
        width: 100%;
}
    
    .banner-text {
        width: 100%;
    }
    
}

/* Main section */


.main-section {
    display: flex;
    margin: 2rem 0;
}

.main img {
    width: 100%;
}

.main span {
    display: block;
    padding-top: 2rem;
}

.side-articles {
    width: 40%;

}

.side-article {
    display: flex;
    padding: 1rem;
}

.guest {
    background-color: lightgray;
}

.orientation {
    padding-top: 0;
}


.side-article img {
   width: 100%;         
}


.article-img {
    width: 35%;
    height: auto;
    overflow: hidden;
    min-width: 7rem;
}


.article-text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    width: 60%
}

.article-text a {
    color: rgb(6,69,173);
}



.links {
    padding-top: 1rem;
    font-size: 18px;
    color: #0095f9;
    font-family: 'Alegreya+SC';
        
}

.links:hover {
    color: #4682b4;
    transition: color 0.25s ease 0.1s;  
}

.mobile-img {
    display: none;
}

@media only screen and (max-width: 760px) {
    
    .main {
        display: none;
    }
    
    .main-section {
    display: flex;
    margin: 1rem 0;
}
    
    .side-articles {
        width: 100%;
    }
    
    .side-article {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 4rem;
    }
    
    .article-text {
        width: 100%;
    }
    
    .article-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    min-width: 7rem;
    padding-bottom: 1rem;
}
    
    .guest {
    background-color: white;
}
    
    .desktop-img {
    display: none;
    }
    
    .mobile-img {
        display: block;
    }
    
    .links {
        font-size: 14px;  
        padding-top: 0.5rem;
}
    
}


/* Start learning */

.learning-title {
    text-align: center;  
    padding-top: 1rem;
}

.start-learning {
    background-color: #e6e6e6;
    padding-bottom: 1rem;
    
}

.course-container {
    margin: 0 3rem 0rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    margin: 1rem; 
    padding-bottom: 0.5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'work sans';
}

.course img {
   width: 100%;   
}

.course-type {
    display: block;
    margin: 0.5rem 0;
    font-family: 'work sans';
    font-size: 18px
}

.course-text {
    padding: 1rem;
    background-color: white;
    height: 50%;
    overflow: hidden;
}

.course-mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
  
    .course-desktop {
        display: none;
    }
    
    .course-mobile {
    display: block;
}
    
    .mobile-text {
        background-color: lightgray;
        width: 100%;
    }
    
    .mobile-container {
        padding: 1rem 0 2rem 1rem;
        margin-bottom: 0.5rem;
    }
    
    .start-learning {
        background-color: white;
        border-top: 1px solid lightgrey;
        padding-bottom: 2rem;
}
    
    .course-container {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
}
    
    .mobile-container h3 {
    font-weight: 500;
    font-size: 18px;    
}
    
    
}

/* Thesis Exhibit */


.exhibit h2 {
    padding-bottom: 0;
}

video {
    width: 100%;
}

.fisma {
    padding-top: 0;
}

@media only screen and (max-width: 760px) { 
    
    .thesis-text {
        display:none;
    }
    
    .exhibit-articles {
        display: none
    }  
    
    .exhibit-container {
        margin-bottom: 2rem;
    }

}

/* Footer */

footer {
    border-top: 1px solid lightgrey;
    height: 5rem;
    font-size: 14px;
    font-family: 'Work Sans';
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.footer-nav li {
    display: inline;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 760px) {
    
    .desktop-footer{
        display: none;
    }
    
    footer {
    height: auto;
    font-size: 12px;
}
    
    .copyright {
    padding: 1rem;
}
}